.toDosBtn {
    margin-left: 20px;
    margin-right: 60px;
}

span {
    margin-right: 80px;
}

#toDoDivId {
    background: aliceblue;
}

div{
    padding: 30px;
    
}
#toDoDivId{
    width: 800px;
}